# 依赖
node_modules/
.pnpm-store/

# 构建产物
dist/
build/
*.tsbuildinfo

# 环境变量
.env
.env.*
!.env.example

# Prisma 本地产物
apps/api/prisma/*.db

# 日志
*.log
npm-debug.log*
pnpm-debug.log*

# 编辑器/系统
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# 测试覆盖率
coverage/
